<span style="color: orange; font-family: Calibri Light;">
  <h1><b>MODEL EVALUATION: BERTopic (all-MiniLM-L6-v2/KMeans/slightly_prep_data)</b></h1>
</span>
<span style = "font-family: Calibri Light">

model evaluation of the third bert model.

what do I need?

- the test data labelled by the bert model
- the human labels, arranged in the same order as in the test label.

for two above, since we don't have date of creation, we'll use IDs to arrange the rows

In [1]:
import pandas as pd
import os
from glob import glob
import ast
import re
import spacy
import time

from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay, accuracy_score, classification_report, adjusted_rand_score
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Access dataset files
folder_path = os.path.join( "..", "../../bert_model_data") 
file_type = "*.csv"

# List of dataset file paths
document_path = glob(os.path.join(folder_path, file_type))

document_path

['../../../bert_model_data/bert_default_raw_text_topics_term.csv',
 '../../../bert_model_data/test_data_bert_raw_label.csv',
 '../../../bert_model_data/bert_train_lemma.csv',
 '../../../bert_model_data/human_and_bert_raw_labels.csv',
 '../../../bert_model_data/bert_default_raw_text_topics_term_labelled.csv',
 '../../../bert_model_data/test_data_human_label_bert_raw.csv',
 '../../../bert_model_data/posts_upvote_ratio.csv',
 '../../../bert_model_data/bert_sw_test_data.csv',
 '../../../bert_model_data/bert_train_no_prep.csv',
 '../../../bert_model_data/bert_model_1_label_train_data.csv',
 '../../../bert_model_data/bert-data-sw.csv',
 '../../../bert_model_data/test_data_lemma.csv',
 '../../../bert_model_data/bert_kmeans_test_data.csv',
 '../../../bert_model_data/bert_w2v_test_data.csv']

In [17]:
#import cleaned data

def list_converter(text):
    #to revert list->str conversion from pd.read_csv
    return ast.literal_eval(text)


model_labelled_data = pd.read_csv("../../../bert_model_data/bert_kmeans_test_data.csv", converters ={'tokens':list_converter})
human_labelled_data = pd.read_csv("../../../bert_model_data/test_data_human_label_bert_raw.csv", converters ={'tokens':list_converter})
#test_data = test_data.drop(columns = ['index', 'clean_text', 'tokens', 'word_count'])

In [18]:
model_labelled_data.drop(columns = ['Unnamed: 0'], inplace = True)
model_labelled_data.head()

,text_type,ID,date_created,long_text,topic_description
0,submission,wbwik,2012-07-10 19:11:08,Only in Dubai! R8: BRAND NEW 2012 Audi R8 V8 -...,9_dubai_abu_dhabi_abu dhabi
1,comment,c5c2v3q,2012-07-10 22:36:50,"Surprise! Happy birthday! \n\nAh man, *anoth...",19_day_work_hours_days
2,comment,c5cc9sz,2012-07-11 08:48:34,I looked at the AD and it seems more like a sa...,14_phone_scam_app_ads
3,comment,c5cdavh,2012-07-11 10:15:52,It's a marketing post. But isn't it against du...,2_post_news_comment_sub
4,submission,10embj,2012-09-24 23:02:05,Dubai cap my dad brought me! [FYSR],9_dubai_abu_dhabi_abu dhabi

In [19]:
#split `topic_description` into two columns for topic number and topic description
model_labelled_data[['model_topic_no', 'model_topic_desc']] = model_labelled_data['topic_description'].str.split('_', n = 1, expand = True)
model_labelled_data['model_topic_no'] = model_labelled_data['model_topic_no'].astype(int) 
model_labelled_data.drop(columns = ['topic_description'], inplace = True)

In [20]:
#sort by `ID`
model_labelled_data.sort_values(by=['ID'], ignore_index = True, inplace = True)
model_labelled_data.head()

,text_type,ID,date_created,long_text,model_topic_no,model_topic_desc
0,submission,10embj,2012-09-24 23:02:05,Dubai cap my dad brought me! [FYSR],9,dubai_abu_dhabi_abu dhabi
1,submission,13ch705,2023-05-09 10:04:19,Anyone here have any idea where I can park my ...,20,parking_metro_car_park
2,submission,13cpma4,2023-05-09 17:17:49,"UAE real estate agents and brokers, I need you...",11,dubai_uae_job_people
3,submission,13p1nlq,2023-05-23 00:07:39,A Well Deserved Shout-out I posted in this sub...,12,delivery_noon_food_order
4,submission,14d7052,2023-06-19 10:52:36,Furnished apartments… bedding/pots and pans Hi...,5,card_bank_aed_credit

In [21]:
model_labelled_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   text_type         1200 non-null   object
 1   ID                1200 non-null   object
 2   date_created      1200 non-null   object
 3   long_text         1200 non-null   object
 4   model_topic_no    1200 non-null   int64
 5   model_topic_desc  1200 non-null   object
dtypes: int64(1), object(5)
memory usage: 56.4+ KB

In [22]:
#dataset showing the human labels
human_labelled_data.head()

,ID,long_text,topics,topic_number_bert_raw,topic_number_bert_w2v,topic_number_kmeans,topic_number_bert_sw
0,10embj,Dubai cap my dad brought me! [FYSR],undefined,-1,-1,-1,-1
1,13ch705,Anyone here have any idea where I can park my ...,infrastructure.transportation,32,36,20,37
2,13cpma4,"UAE real estate agents and brokers, I need you...",real_estate_housing,24,4,5,12
3,13p1nlq,A Well Deserved Shout-out I posted in this sub...,shopping,61,61,61,61
4,14d7052,Furnished apartments‚Ä¶ bedding/pots and pans ...,real_estate_housing,24,4,5,12

In [23]:
#select only columns needed for this model
human_labelled_data = human_labelled_data[
    ['ID', 'long_text', 'topics', 'topic_number_kmeans']].copy()

In [24]:
human_labelled_data.head()

,ID,long_text,topics,topic_number_kmeans
0,10embj,Dubai cap my dad brought me! [FYSR],undefined,-1
1,13ch705,Anyone here have any idea where I can park my ...,infrastructure.transportation,20
2,13cpma4,"UAE real estate agents and brokers, I need you...",real_estate_housing,5
3,13p1nlq,A Well Deserved Shout-out I posted in this sub...,shopping,61
4,14d7052,Furnished apartments‚Ä¶ bedding/pots and pans ...,real_estate_housing,5

In [25]:
#include column in model_labelled_data to hold the human topic numbers

model_labelled_data[['human_topic_desc','human_topic_no']] = human_labelled_data[['topics','topic_number_kmeans']].copy()

In [26]:
model_labelled_data.head()

,text_type,ID,date_created,long_text,model_topic_no,model_topic_desc,human_topic_desc,human_topic_no
0,submission,10embj,2012-09-24 23:02:05,Dubai cap my dad brought me! [FYSR],9,dubai_abu_dhabi_abu dhabi,undefined,-1
1,submission,13ch705,2023-05-09 10:04:19,Anyone here have any idea where I can park my ...,20,parking_metro_car_park,infrastructure.transportation,20
2,submission,13cpma4,2023-05-09 17:17:49,"UAE real estate agents and brokers, I need you...",11,dubai_uae_job_people,real_estate_housing,5
3,submission,13p1nlq,2023-05-23 00:07:39,A Well Deserved Shout-out I posted in this sub...,12,delivery_noon_food_order,shopping,61
4,submission,14d7052,2023-06-19 10:52:36,Furnished apartments… bedding/pots and pans Hi...,5,card_bank_aed_credit,real_estate_housing,5

In [27]:
model_labelled_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   text_type         1200 non-null   object
 1   ID                1200 non-null   object
 2   date_created      1200 non-null   object
 3   long_text         1200 non-null   object
 4   model_topic_no    1200 non-null   int64
 5   model_topic_desc  1200 non-null   object
 6   human_topic_desc  1200 non-null   object
 7   human_topic_no    1200 non-null   int64
dtypes: int64(2), object(6)
memory usage: 75.1+ KB

In [28]:
model_labelled_data.to_csv('human_and_model_labels_model3.csv')

In [30]:
len(model_labelled_data['human_topic_desc'].unique())

73

In [31]:
mask = model_labelled_data.human_topic_no ==24
model_labelled_data[mask]

,text_type,ID,date_created,long_text,model_topic_no,model_topic_desc,human_topic_desc,human_topic_no
74,comment,cizz7fs,2014-07-17 18:44:44,Here is what the linked meme says in case it i...,9,dubai_abu_dhabi_abu dhabi,infrastructure.mobile_communication_internet,24
75,comment,cj02prf,2014-07-17 20:40:18,Seems like a bad comparison. Verizon is one of...,24,etisalat_whatsapp_du_data,infrastructure.mobile_communication_internet,24
136,comment,coi5y1o,2015-02-11 19:14:40,"i think it only works on Du Wifi, can anyone c...",24,etisalat_whatsapp_du_data,infrastructure.mobile_communication_internet,24
237,comment,d3krair,2016-05-26 22:31:50,"Try using Rebtel, free signups and free minute...",24,etisalat_whatsapp_du_data,infrastructure.mobile_communication_internet,24
407,comment,dsr7gpv,2018-01-16 11:57:10,"Nope. But then again, Du is just Etisalat wear...",24,etisalat_whatsapp_du_data,infrastructure.mobile_communication_internet,24
409,comment,dsrp8bo,2018-01-16 20:24:33,I've been using whatsapp video calls without i...,24,etisalat_whatsapp_du_data,infrastructure.mobile_communication_internet,24
421,comment,dua4epp,2018-02-15 15:02:05,That is because both Etisalat and Virgin have ...,24,etisalat_whatsapp_du_data,infrastructure.mobile_communication_internet,24
465,comment,e3ggurb,2018-08-02 09:02:48,"Yeah, Etisalat’s coupon based now as well.",24,etisalat_whatsapp_du_data,infrastructure.mobile_communication_internet,24
525,comment,eonh4v4,2019-05-24 19:39:45,Exactly. Etisalat is owned by the Govt anyways...,24,etisalat_whatsapp_du_data,infrastructure.mobile_communication_internet,24
526,comment,eop24gj,2019-05-25 06:57:39,Only a matter of time before technology become...,24,etisalat_whatsapp_du_data,infrastructure.mobile_communication_internet,24
575,comment,f3d6qew,2019-10-12 02:23:15,Could've added something relating to Du or Eti...,24,etisalat_whatsapp_du_data,infrastructure.mobile_communication_internet,24
576,comment,f3mr80v,2019-10-13 22:29:48,the *777# is the best service out there,14,phone_scam_app_ads,infrastructure.mobile_communication_internet,24
740,comment,ge4q8oo,2020-11-30 12:12:14,Easier way to block several SMS ID is by [etis...,24,etisalat_whatsapp_du_data,infrastructure.mobile_communication_internet,24
1023,comment,isec63e,2022-10-15 13:29:47,Actually I have Etisalat wifi currently at our...,24,etisalat_whatsapp_du_data,infrastructure.mobile_communication_internet,24
1074,comment,j9fjfv3,2023-02-21 19:42:23,"Yeah, you have to keep using your old number b...",24,etisalat_whatsapp_du_data,infrastructure.mobile_communication_internet,24

<h2> ACCURACY SCORE </h2>

<h3>Accuracy score of the entire model prediction</h3>

In [32]:
#accuracy score
y_true = model_labelled_data.human_topic_no
y_pred = model_labelled_data.model_topic_no
accuracy = accuracy_score(y_true, y_pred, normalize = True)

print (f'Bertopic model with kmeans and on slightly pre-preprocessed data\nModel accuracy is: {accuracy:.3f}')

Bertopic model with kmeans and on slightly pre-preprocessed data
Model accuracy is: 0.222

<h3>Accuracy score of the individual human labels</h3>

In [33]:
topic_range = sorted(model_labelled_data['human_topic_no'].unique())
accuracy = {'topic_no':[],
            'human_topic_desc':[],
           'accuracy_score':[]
           }

for topic_no in topic_range:
    accuracy['topic_no'].append(topic_no) 
    mask = model_labelled_data.human_topic_no == topic_no
    topic_df = model_labelled_data[mask]
    
    accuracy['human_topic_desc'].append(topic_df['human_topic_desc'].unique())
    
    #accuracy
    y_true = topic_df.human_topic_no
    y_pred = topic_df.model_topic_no
    acc = accuracy_score(y_true, y_pred, normalize = True)
    
    accuracy['accuracy_score'].append(acc)

In [34]:
accuracy_df = pd.DataFrame(accuracy)
accuracy_df.set_index('topic_no', inplace = True)
accuracy_df.sort_values(by = 'accuracy_score', ascending = False)

                                           human_topic_desc  accuracy_score
topic_no
25                                         [animal_welfare]        1.000000
13                                     [weather_conditions]        0.900000
24           [infrastructure.mobile_communication_internet]        0.866667
0                                  [urban_mobility.traffic]        0.808511
9                                             [uae_regions]        0.800000
...                                                     ...             ...
48                                    [dubai_urban_centers]        0.000000
49        [infrastructure.communications_internet_restri...        0.000000
50                                               [business]        0.000000
52                                [personal_habits.smoking]        0.000000
78                                           [urban_living]        0.000000

[64 rows x 2 columns]

In [35]:
accuracy_df[accuracy_df.accuracy_score >=0.5]

                                           human_topic_desc  accuracy_score
topic_no
0                                  [urban_mobility.traffic]        0.808511
2                                            [reddit_usage]        0.500000
3                                     [dining_service.food]        0.756098
4                             [social relationships.family]        0.500000
5         [real_estate_housing, banking_financial_servic...        0.608696
9                                             [uae_regions]        0.800000
12                           [dining_and_delivery_services]        0.500000
13                                     [weather_conditions]        0.900000
15                                   [safety.law_and_order]        0.500000
16                                         [islam_religion]        0.692308
17                               [infrastructure.landmarks]        0.500000
18                                           [health.covid]        0.761905
22                                            [immigration]        0.750000
24           [infrastructure.mobile_communication_internet]        0.866667
25                                         [animal_welfare]        1.000000
26        [tipping_culture, infrastructure.mobile_commun...        0.666667

In [ ]:
#confusion matrix
y_true = topic_df['human_label']#model_labelled_data['human_label']
y_pred = topic_df ['topic_no'] #model_labelled_data['topic_no']
labels = sorted(list(set(y_true)))
cm = confusion_matrix(y_true = y_true, y_pred = y_pred)
print (cm)

<h2> PRECISION, RECALL, F1-SCORE </h2>

In [36]:
#accuracy score
y_true = model_labelled_data.human_topic_no
y_pred = model_labelled_data.model_topic_no
#labels = list(model_labelled_data['human_topic_no'].unique())
clr = classification_report(y_true, y_pred,zero_division = 0.0, output_dict = True)

In [37]:
clr_df = pd.DataFrame(clr).T
clr_df

              precision    recall  f1-score      support
-2             0.000000  0.000000  0.000000    25.000000
-1             0.000000  0.000000  0.000000   434.000000
0              0.567164  0.808511  0.666667    47.000000
1              0.000000  0.000000  0.000000     0.000000
2              0.206897  0.500000  0.292683    36.000000
...                 ...       ...       ...          ...
77             0.000000  0.000000  0.000000    12.000000
78             0.000000  0.000000  0.000000     1.000000
accuracy       0.221667  0.221667  0.221667     0.221667
macro avg      0.093265  0.174936  0.113699  1200.000000
weighted avg   0.145388  0.221667  0.168627  1200.000000

[75 rows x 4 columns]