<span style="color: orange; font-family: Calibri Light;">
  <h1><b>MODEL EVALUATION: BERTopic (all-MiniLM-L6-v2/HDBSCAN/slightly_prep_data)</b></h1>
</span>
<span style = "font-family: Calibri Light">

model evaluation of the second bert model.

what do I need?

- the test data labelled by the bert model
- the human labels, arranged in the same order as in the test label.

for two above, since we don't have date of creation, we'll use IDs to arrange the rows

In [2]:
import pandas as pd
import os
from glob import glob
import ast
import re
import spacy
import time

from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay, accuracy_score, classification_report, adjusted_rand_score
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Access dataset files
folder_path = os.path.join( "..", "../../bert_model_data") 
file_type = "*.csv"

# List of dataset file paths
document_path = glob(os.path.join(folder_path, file_type))

document_path

['../../../bert_model_data/bert_default_raw_text_topics_term.csv',
 '../../../bert_model_data/test_data_bert_raw_label.csv',
 '../../../bert_model_data/bert_train_lemma.csv',
 '../../../bert_model_data/human_and_bert_raw_labels.csv',
 '../../../bert_model_data/bert_default_raw_text_topics_term_labelled.csv',
 '../../../bert_model_data/test_data_human_label_bert_raw.csv',
 '../../../bert_model_data/posts_upvote_ratio.csv',
 '../../../bert_model_data/bert_sw_test_data.csv',
 '../../../bert_model_data/bert_train_no_prep.csv',
 '../../../bert_model_data/bert_model_1_label_train_data.csv',
 '../../../bert_model_data/bert-data-sw.csv',
 '../../../bert_model_data/test_data_lemma.csv',
 '../../../bert_model_data/bert_kmeans_test_data.csv',
 '../../../bert_model_data/bert_w2v_test_data.csv']

In [4]:
#import cleaned data

def list_converter(text):
    #to revert list->str conversion from pd.read_csv
    return ast.literal_eval(text)


model_labelled_data = pd.read_csv("../../../bert_model_data/bert_sw_test_data.csv", converters ={'tokens':list_converter})
human_labelled_data = pd.read_csv("../../../bert_model_data/test_data_human_label_bert_raw.csv", converters ={'tokens':list_converter})
#test_data = test_data.drop(columns = ['index', 'clean_text', 'tokens', 'word_count'])

In [5]:
model_labelled_data.drop(columns = ['Unnamed: 0'], inplace = True)
model_labelled_data.head()

,text_type,ID,date_created,long_text,topic_description
0,submission,wbwik,2012-07-10 19:11:08,Only in Dubai! R8: BRAND NEW 2012 Audi R8 V8 -...,-1_life_uae_city_didn
1,comment,c5c2v3q,2012-07-10 22:36:50,"Surprise! Happy birthday! \n\nAh man, *anoth...",-1_life_uae_city_didn
2,comment,c5cc9sz,2012-07-11 08:48:34,I looked at the AD and it seems more like a sa...,17_ads_bot_scammers_block
3,comment,c5cdavh,2012-07-11 10:15:52,It's a marketing post. But isn't it against du...,-1_life_uae_city_didn
4,submission,10embj,2012-09-24 23:02:05,Dubai cap my dad brought me! [FYSR],-1_life_uae_city_didn

In [6]:
#split `topic_description` into two columns for topic number and topic description
model_labelled_data[['model_topic_no', 'model_topic_desc']] = model_labelled_data['topic_description'].str.split('_', n = 1, expand = True)
model_labelled_data['model_topic_no'] = model_labelled_data['model_topic_no'].astype(int) 
model_labelled_data.drop(columns = ['topic_description'], inplace = True)

In [7]:
#sort by `ID`
model_labelled_data.sort_values(by=['ID'], ignore_index = True, inplace = True)
model_labelled_data.head()

,text_type,ID,date_created,long_text,model_topic_no,model_topic_desc
0,submission,10embj,2012-09-24 23:02:05,Dubai cap my dad brought me! [FYSR],-1,life_uae_city_didn
1,submission,13ch705,2023-05-09 10:04:19,Anyone here have any idea where I can park my ...,4,lane_limit_parking_traffic
2,submission,13cpma4,2023-05-09 17:17:49,"UAE real estate agents and brokers, I need you...",12,real estate_properties_agents_villa
3,submission,13p1nlq,2023-05-23 00:07:39,A Well Deserved Shout-out I posted in this sub...,3,tip_talabat_deliveroo_zomato
4,submission,14d7052,2023-06-19 10:52:36,Furnished apartments… bedding/pots and pans Hi...,12,real estate_properties_agents_villa

In [8]:
model_labelled_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   text_type         1200 non-null   object
 1   ID                1200 non-null   object
 2   date_created      1200 non-null   object
 3   long_text         1200 non-null   object
 4   model_topic_no    1200 non-null   int64
 5   model_topic_desc  1200 non-null   object
dtypes: int64(1), object(5)
memory usage: 56.4+ KB

In [9]:
#dataset showing the human labels
human_labelled_data.head()

,ID,long_text,topics,topic_number_bert_raw,topic_number_bert_w2v,topic_number_kmeans,topic_number_bert_sw
0,10embj,Dubai cap my dad brought me! [FYSR],undefined,-1,-1,-1,-1
1,13ch705,Anyone here have any idea where I can park my ...,infrastructure.transportation,32,36,20,37
2,13cpma4,"UAE real estate agents and brokers, I need you...",real_estate_housing,24,4,5,12
3,13p1nlq,A Well Deserved Shout-out I posted in this sub...,shopping,61,61,61,61
4,14d7052,Furnished apartments‚Ä¶ bedding/pots and pans ...,real_estate_housing,24,4,5,12

In [10]:
#select only columns needed for this model
human_labelled_data = human_labelled_data[
    ['ID', 'long_text', 'topics', 'topic_number_bert_sw']].copy()

In [11]:
human_labelled_data.head()

,ID,long_text,topics,topic_number_bert_sw
0,10embj,Dubai cap my dad brought me! [FYSR],undefined,-1
1,13ch705,Anyone here have any idea where I can park my ...,infrastructure.transportation,37
2,13cpma4,"UAE real estate agents and brokers, I need you...",real_estate_housing,12
3,13p1nlq,A Well Deserved Shout-out I posted in this sub...,shopping,61
4,14d7052,Furnished apartments‚Ä¶ bedding/pots and pans ...,real_estate_housing,12

In [12]:
#include column in model_labelled_data to hold the human topic numbers

model_labelled_data[['human_topic_desc','human_topic_no']] = human_labelled_data[['topics','topic_number_bert_sw']].copy()

In [13]:
model_labelled_data.head()

,text_type,ID,date_created,long_text,model_topic_no,model_topic_desc,human_topic_desc,human_topic_no
0,submission,10embj,2012-09-24 23:02:05,Dubai cap my dad brought me! [FYSR],-1,life_uae_city_didn,undefined,-1
1,submission,13ch705,2023-05-09 10:04:19,Anyone here have any idea where I can park my ...,4,lane_limit_parking_traffic,infrastructure.transportation,37
2,submission,13cpma4,2023-05-09 17:17:49,"UAE real estate agents and brokers, I need you...",12,real estate_properties_agents_villa,real_estate_housing,12
3,submission,13p1nlq,2023-05-23 00:07:39,A Well Deserved Shout-out I posted in this sub...,3,tip_talabat_deliveroo_zomato,shopping,61
4,submission,14d7052,2023-06-19 10:52:36,Furnished apartments… bedding/pots and pans Hi...,12,real estate_properties_agents_villa,real_estate_housing,12

In [14]:
model_labelled_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   text_type         1200 non-null   object
 1   ID                1200 non-null   object
 2   date_created      1200 non-null   object
 3   long_text         1200 non-null   object
 4   model_topic_no    1200 non-null   int64
 5   model_topic_desc  1200 non-null   object
 6   human_topic_desc  1200 non-null   object
 7   human_topic_no    1200 non-null   int64
dtypes: int64(2), object(6)
memory usage: 75.1+ KB

In [16]:
model_labelled_data.to_csv('human_and_model_labels_model2.csv')

In [17]:
model_labelled_data['human_topic_desc'].unique()

array(['undefined', 'infrastructure.transportation',
       'real_estate_housing', 'shopping', 'banking_financial_services',
       'employment', 'entertainment.restrictions', 'dining_service.food',
       'employment.working_conditions', 'islam_religion',
       'social_interactions', 'supernatural_activities', 'reddit_usage',
       'taxes_levies', 'lifestyle', 'arabic_language',
       'infrastructure.communications_internet_restrictions',
       'urban_mobility.traffic', 'general_health_services',
       'entertainment', 'diversity_inclusion.race/nationality',
       'unrelated_theme', 'recreation', 'government',
       'safety.law_and_order',
       'infrastructure.mobile_communication_internet',
       'media_communication', 'personal_habits.smoking',
       'infrastructure.landmarks', 'safety.home_safety',
       'infrastructure.public_amenities', 'entertainment.football',
       'animal_welfare', 'dubai_urban_centers', 'travelling',
       'personal_grooming', 'locals_local_community', 'fitness',
       'diversity_inclusion.gender', 'economy',
       'dining_and_delivery_services', 'education', 'business',
       'diversity_inclusion.race, foreign_resident_relations, employment',
       'digital_censorship', 'vehicles', 'weather_conditions',
       'personal_hygiene', 'uae_regions', 'immigration',
       'cultural_integration.dressing', 'urban_mobility.driving_license',
       'beverages', 'health.covid', 'personal_grooming_services',
       'dining_service.teas', 'cost of living',
       'infrastructure.bills_utilities', 'fraud_illegal_practices',
       'infrastructure.landscape', 'sexual_solicitation', 'culture',
       'social relationships.family', 'housing_facilities',
       'social_disputes', 'water_facilities',
       'diversity_inclusion.sexuality', 'tipping_culture',
       'religious_tolerance', 'urban_living',
       'employment, diversity_inclusion.race', 'communication_etiquette',
       ' real_estate_housing'], dtype=object)

In [18]:
mask = model_labelled_data.human_topic_no ==24
model_labelled_data[mask]

,text_type,ID,date_created,long_text,model_topic_no,model_topic_desc,human_topic_desc,human_topic_no
9,submission,25ghaw,2014-05-13 20:02:22,Lady Gaga’s Dubai concert will be censored.,24,kiss_watched_screen_ban,entertainment.restrictions,24
32,submission,8x5rc2,2018-07-09 03:20:16,Anyone want to hang out and watch some anime? ...,0,sharjah_uae_muslim_dubai police,entertainment,24
67,comment,chkifkv,2014-05-18 00:11:25,"all age venues in Dubai are hard to come by, e...",-1,life_uae_city_didn,entertainment,24
79,comment,cj2b9p4,2014-07-20 08:08:55,"How the hell is 8,000 views considered viral?\...",18,font_instagram_painting_camera,entertainment,24
158,comment,cp82dk0,2015-03-08 15:16:17,They actually lost 6 times in a row in the wor...,-1,life_uae_city_didn,entertainment,24
177,comment,cv7s1ju,2015-09-20 14:18:12,Both video and music is awful.,-1,life_uae_city_didn,entertainment,24
210,comment,d0l4dtm,2016-03-03 00:16:12,Would literally rather Kil-\n\n\noh god where ...,-1,life_uae_city_didn,entertainment,24
301,comment,dd1ufm8,2017-01-29 12:37:03,it's like you're kris fade and doing this whol...,26,suit_mo_radio_italy,entertainment,24
336,comment,dm9tpg4,2017-08-29 11:49:54,"It's a populist radio station, and his is the ...",26,suit_mo_radio_italy,entertainment,24
338,comment,dm9ueq0,2017-08-29 12:21:59,"I don't have one. I don't like scary movies, I...",-1,life_uae_city_didn,entertainment,24
339,comment,dm9uhtl,2017-08-29 12:26:00,But they say the best movie to see on a date i...,-1,life_uae_city_didn,entertainment,24
451,comment,e26n8kp,2018-07-11 15:00:12,company paid $150 for bein online and they can...,-1,life_uae_city_didn,entertainment,24
594,comment,f96cdvx,2019-11-30 23:41:42,"Exactly. It's cheaper than a movie ticket, a f...",24,kiss_watched_screen_ban,entertainment,24
639,comment,fqnoi3l,2020-05-15 03:22:53,"VOX is only allowing 2 in a car, plus it inclu...",24,kiss_watched_screen_ban,entertainment,24
687,comment,fy0sv58,2020-07-14 13:53:04,Once we have a decent catalogue of 10 plus gam...,31,games_apple_pc_assets,entertainment,24
756,comment,gi5pv92,2021-01-05 11:12:10,Do you know Terrence and Phillip?,-1,life_uae_city_didn,entertainment,24
998,comment,ioe6hgp,2022-09-14 17:25:51,I came to Dubai and started to attend expat me...,0,sharjah_uae_muslim_dubai police,entertainment,24
1033,comment,ivxf86f,2022-11-11 13:19:55,I visited vox Oman site. No sign of this movie...,24,kiss_watched_screen_ban,entertainment,24
1058,comment,j4pim98,2023-01-17 14:25:43,What makes an anniversary special is the perso...,-1,life_uae_city_didn,entertainment,24
1157,comment,jo2xqom,2023-06-14 12:23:21,"Where is this listed on Vox, can you share a l...",24,kiss_watched_screen_ban,entertainment,24
1164,comment,jo4clbm,2023-06-14 20:38:10,"I considered roxy but instead i got vox, im ge...",24,kiss_watched_screen_ban,entertainment,24
1197,submission,ye87w0,2022-10-27 00:35:22,Yeah those vox movies somehow also got affecte...,24,kiss_watched_screen_ban,entertainment,24

<h2> ACCURACY SCORE </h2>

<h3>Accuracy score of the entire model prediction</h3>

In [19]:
#accuracy score
y_true = model_labelled_data.human_topic_no
y_pred = model_labelled_data.model_topic_no
accuracy = accuracy_score(y_true, y_pred, normalize = True)

print (f'Bertopic model with default parameters and trained on unprocessed data\nModel accuracy is: {accuracy:.3f}')

Bertopic model with default parameters and trained on unprocessed data
Model accuracy is: 0.372

<h3>Accuracy score of the individual human labels</h3>

In [20]:
topic_range = sorted(model_labelled_data['human_topic_no'].unique())
accuracy = {'topic_no':[],
            'human_topic_desc':[],
           'accuracy_score':[]
           }

for topic_no in topic_range:
    accuracy['topic_no'].append(topic_no) 
    mask = model_labelled_data.human_topic_no == topic_no
    topic_df = model_labelled_data[mask]
    
    accuracy['human_topic_desc'].append(topic_df['human_topic_desc'].unique())
    
    #accuracy
    y_true = topic_df.human_topic_no
    y_pred = topic_df.model_topic_no
    acc = accuracy_score(y_true, y_pred, normalize = True)
    
    accuracy['accuracy_score'].append(acc)

In [21]:
accuracy_df = pd.DataFrame(accuracy)
accuracy_df.set_index('topic_no', inplace = True)
accuracy_df.sort_values(by = 'accuracy_score', ascending = False)

                                           human_topic_desc  accuracy_score
topic_no
35                          [diversity_inclusion.sexuality]             1.0
9                                          [animal_welfare]             1.0
42                                    [sexual_solicitation]             1.0
25                                       [personal_hygiene]             1.0
22                                        [arabic_language]             1.0
...                                                     ...             ...
50                                               [business]             0.0
49        [infrastructure.communications_internet_restri...             0.0
38         [social_disputes, infrastructure.transportation]             0.0
37                          [infrastructure.transportation]             0.0
78                                           [urban_living]             0.0

[63 rows x 2 columns]

In [23]:
accuracy_df[accuracy_df.accuracy_score >=0.5]

                                        human_topic_desc  accuracy_score
topic_no
-1                                           [undefined]        0.599078
 1        [infrastructure.landmarks, weather_conditions]        0.642857
 4                              [urban_mobility.traffic]        0.510638
 9                                      [animal_welfare]        1.000000
 11                                           [vehicles]        0.727273
 16                                        [immigration]        0.500000
 19       [infrastructure.mobile_communication_internet]        0.687500
 22                                    [arabic_language]        1.000000
 25                                   [personal_hygiene]        1.000000
 28                        [beverages, water_facilities]        0.500000
 35                      [diversity_inclusion.sexuality]        1.000000
 42                                [sexual_solicitation]        1.000000
 43                            [personal_habits.smoking]        0.666667
 44                            [communication_etiquette]        1.000000
 45                                            [fitness]        0.500000

In [ ]:
#confusion matrix
y_true = topic_df['human_label']#model_labelled_data['human_label']
y_pred = topic_df ['topic_no'] #model_labelled_data['topic_no']
labels = sorted(list(set(y_true)))
cm = confusion_matrix(y_true = y_true, y_pred = y_pred)
print (cm)

<h2> PRECISION, RECALL, F1-SCORE </h2>

In [24]:
#accuracy score
y_true = model_labelled_data.human_topic_no
y_pred = model_labelled_data.model_topic_no
#labels = list(model_labelled_data['human_topic_no'].unique())
clr = classification_report(y_true, y_pred,zero_division = 0.0, output_dict = True)

In [25]:
clr_df = pd.DataFrame(clr).T
clr_df

              precision    recall  f1-score      support
-2             0.000000  0.000000  0.000000    25.000000
-1             0.423453  0.599078  0.496183   434.000000
0              0.000000  0.000000  0.000000     0.000000
1              0.310345  0.642857  0.418605    14.000000
2              0.391304  0.173077  0.240000    52.000000
...                 ...       ...       ...          ...
77             0.000000  0.000000  0.000000    12.000000
78             0.000000  0.000000  0.000000     1.000000
accuracy       0.371667  0.371667  0.371667     0.371667
macro avg      0.210731  0.187113  0.173689  1200.000000
weighted avg   0.394925  0.371667  0.352584  1200.000000

[84 rows x 4 columns]